@import "../../sass/abstracts/variables";

.content {
  margin: 6rem 0;
  width: 100%;
  padding: 0 10%;

  &__date {
    text-align: end;
    margin-bottom: 2rem;

    &-text {
      font-size: $default-font-size;
      margin-right: 1.5rem;
    }
  }
}

.react-datepicker {
  height: 15.5rem;
  transform: scale(1.4) translateY(2.4rem);
}

.react-datepicker__navigation:focus {
  outline: none;
}
